#root{
  height: 100vh;
  width: 100vw;
}
.App {
  text-align: center;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-radius: 10px;
  border: 1px solid grey;
  width: 500px;
}

.form-element{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}